/.env
/.vscode/
/.idea/
/.svn/
/vendor/

/runtime/
/data/pan_tree_cache/*
!/data/pan_tree_cache/.gitkeep
!/data/pan_tree_cache/README.md

/public/error.log
/public/uploads/*
!/public/uploads/.gitkeep
/public/install/install.lock
/public/install/1install.lock
/public/views/index/mofa.zip

/extend/netdisk/pan/access_token.json

*.log
*.bak
*.tmp
*.cache
.DS_Store
Thumbs.db
